{
  "env": {
    "development": {
      "plugins": [
        "istanbul"
      ],
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-flow-strip-types"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 7.7
        },
        "useBuiltIns": true
      }
    ]
  ]
}
