{
  "env": {
    "development": {
      "plugins": [
        "istanbul"
      ],
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "transform-flow-comments"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ]
  ]
}
